body{
    text-align: center;
    background-image: url("img/back.jpeg");
    

}
.jumbotron{
    color:white;
    text-align: center;
    background-color:#9c8b83;
}
.first{
    font-size:38px;
}
form{
    display: inline-block;
}
footer{
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    width: 981px;
    font-size:36px;
    margin: 0 auto 8px;
}